<div class="col-sm-12">
    <h4 class="text-center" style="margin: 7px"> My first app </h4>


    <div class="row">
        <div class="col-sm-5">
            <button class="btn btn-primary" ng-click="loadResults()">Reload {{x}}</button>

        </div>
        <div class="col-sm-7 text-right">

            <button class="btn btn-default text-danger"
                    ng-click="cleanupStorage()" title="Jakiś głębszy opis">Przycisk
            </button>

        </div>
    </div>


    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th width="30%" ng-click="M.tableorder='sourceHost'" class="clickable"> Imię</th>
            <th width="30%" ng-click="M.tableorder='receiverHost'" class="clickable"> Nazwisko</th>
            <th width="20%" ng-click="M.tableorder='group'" class="clickable"> Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in M.results">
            <td>{{r.imie}}</td>
            <td>{{r.nazwisko}}</td>
            <td>{{r.score}}</td>
        </tr>
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
            {{nazwaArtykulu}} {{x}}
        </div>
        <div class="card-body">

            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    Wynik dodawania x i y = {{ x * y}}  <br>
                    W zmiennej AABB jest: {{AABB + AABB}}
                </p>
                <input type="text" ng-model="x" placeholder="zmienna x">
                <input type="text" ng-model="y" placeholder="zmienna y">
                <button class="btn btn-primary" ng-click="wyliczIloraz(x,y)">
                    Wylicz iloraz</button>
                <input type="text" ng-model="iloraz" readonly="true">
            </div>
        </div>
    </div>

</div>
