
<div class="col-sm-12 bg-geld">
    <div class="row">

        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="height: 1000px" >
            <div class="card" style="background-color: rgba(255,255,255,0.7)">
                <div class="card-header h3">
                    Dochody graczy
                    <i class="fas fa-sync-alt clickable float-sm-right"></i>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <td width="5%">pesel</td>
                            <td width="20%">nazwisko</td>
                            <td width="10%">dochód</td>
                            <td width="10%">akcja</td>
                        </tr>
                        </thead>
                        <tbody>

                        <!--bs4: default, primary, info, success, warning, danger -->
                        <!--dla tekstu: text-(kolor)  , albo bg-(kolor)    -->
                        <tr ng-repeat="c in wynik"
                            ng-class="(c.dochod>400?'bg-warning':'bg-default')">
                            <td class="align-middle ">
                                {{c.pesel}}
                            </td>
                            <td><input type="text" class="form-control"  ng-model="c.name"></td>
                            <td><input type="text" class="form-control"  ng-model="c.dochod"></td>
                            <td class="align-middle">
                                <i class="fas fa-allergies fa-lg mr-2 clickable" (click)="doSometing(c)"></i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control col-10 float-right" placeholder="dolna granica"  ng-model="iLow">
                        </div>
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control col-10 float-right" placeholder="górna granica"  ng-model="iHigh">
                        </div>
                        <div class="col-sm-3 ">
                            <input type="text" class="form-control col-10 float-right" placeholder="pesel"  ng-model="iPesel">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-outline-info" ng-click="filterIncomes(dane)">Szukaj</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    Debug... <br/>
                    <textarea class="form-control" id="textArea1" rows="5" style="width:100%">{{dane}} </textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>