

<div class="col-sm-2">
</div>
<div class="col-sm-8 ">
    <div class="card">
        <div class="card-header h3">
            Dochody graczy
            <i class="fas fa-sync-alt clickable float-sm-right"></i>
        </div>
        <div class="card-body">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <td width="5%">pesel</td>
                    <td width="20%">nazwisko</td>
                    <td width="10%">dochód</td>
                    <td width="10%">akcja</td>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="c in dane">
                    <td class="align-middle ">
                        {{c.pesel}}
                    </td>
                    <td><input type="text" class="form-control"  ng-model="c.name"></td>
                    <td><input type="text" class="form-control"  ng-model="c.dochod"></td>
                    <td class="align-middle">
                        <i class="far fa-lg fa-save mr-2 clickable" (click)="doSometing(c)"></i>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-4">
                </div>


                <div class="col-sm-5 ">
                    <input type="text" class="form-control col-10 float-right" placeholder="(todo)"  ng-model="newCatName">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-outline-info" ng-click="cats.newCat(newCatName)">Dodaj</button>
                </div>
            </div>
        </div>
        <div class="card-footer ">
            Debug... <br/>
            <textarea class="form-control" id="textArea1" rows="5" style="width:100%">{{dane}} </textarea>
        </div>
    </div>
</div>
<div class="col-sm-2">
</div>
