<div class="col-sm-12">
    <h4 class="text-center" style="margin: 7px"> Drugi widok </h4>


    <div class="row">
        <div class="col-sm-5">
            <button class="btn btn-primary" ng-click="M.wynik='kliknięty'"> Ustaw
            </button>

        </div>
        <div class="col-sm-7 text-right">

            <button class="btn btn-default text-danger"
                    ng-click="M.wynik.concat('abraKadabra\n')" title="Jakiś głębszy opis"> Dodaj
            </button>

        </div>
    </div>


    <div class="row">
        <!-- tu może być col-sm-6, col-md-6, col-lg-6 -->
        <div class="col-lg-6 boxed">
           (dodać trzy inputy tutaj)
        </div>
        <div class="col-lg-6 boxed">
            <div class="form-group">
                <label for="textArea1">Wyniki</label>
                <textarea class="form-control" id="textArea1" rows="10">
                    {{M.wynik}}

                </textarea>
            </div>

        </div>

    </div>



</div>
